{% extends 'website/layout.html' %}
{% load static %}

{% block content %}
    <h3>Menu</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a id="Carne"><img class="d-block w-100" src="{% static 'images/black.jpg' %}" alt="First slide"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Carne</h5>
            </div>
        </div>
          <div class="carousel-item">
            <a id="Mariscos"><img class="d-block w-100" src="{% static 'images/black.jpg' %}" alt="Second slide"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Mariscos</h5>
            </div>
          </div>
          <div class="carousel-item">
            <a id="Bebidas"><img class="d-block w-100" src="{% static 'images/black.jpg' %}" alt="Third slide"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Bebidas</h5>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div  id="Carne">
        <h3><strong>Carne</strong></h3>
        <hr>
        <ul>
          {% for item in meatProducts %}
            <div class="box-element food-item">
                <h6>{{item.name}}</h6>
                <form id="quantity" name="{{item.name}}" data-price="{{item.price}}">
                    <input type="text" placeholder="Quantity" name="input" id="input">
                    <input style="margin-bottom: 10px;" id="form-button" class="btn btn-success btn-sm " type="submit" value="Continue">
                </form>
                <button onclick="updateUserOrder('{{item.name}}' , 'add', parseInt(document.getElementsByName('{{item.name}}')[0].children[0].value), event)" style="margin-left: 50px;" data-product="{{item.name}}" data-action="add" class="btn btn-outline-secondary add-btn add-to-cart">Add to Cart</button>
                <h4 style="display: inline-block;float: right" id="{{item.name}}-price">${{item.price|floatformat:2}} /lb</h4>
                <h4 style="display: inline-block;float: left" id="{{item.name}}-total">Total: $0 </h4>
            </div>
            {% endfor %}
        </ul>
      </div>

      <div  id="Other">
        <h3><strong>Other</strong></h3>
        <hr>
        <ul>
            {% for item in other %}
            <div class="box-element food-item">
                <h6>{{item.name}}</h6>
                <form id="quantity" name="{{item.name}}">
                    <input type="text" placeholder="Quantity" name="input" id="input">
                </form>
                <button onclick="updateUserOrder('{{item.name}}' , 'add', parseInt(document.getElementsByName('{{item.name}}')[0].children[0].value), event)" style="margin-left: 50px;" data-product="{{item.name}}" data-action="add" class="btn btn-outline-secondary add-btn add-to-cart">Add to Cart</button>
                <h4 style="display: inline-block;float: right" id="{{item.name}}-price">${{item.price|floatformat:2}}</h4>
                <h4 style="display: inline-block;float: left" id="{{item.name}}-total">Total: $0 </h4>
            </div>
            {% endfor %}
        </ul>
      </div>

      <div  id="Bebidas">
        <h3><strong>Bebidas</strong></h3>
        <hr>
        <ul>
            {% for item in drinks %}
            <div class="box-element food-item">
                <h6>{{item.name}}</h6>
                <form id="quantity" name="{{item.name}}">
                    <input type="number" placeholder="Quantity" data-identifier="{{item.name}}" id="input">
                </form>
                <button onclick="updateUserOrder('{{item.name}}' , 'add', parseInt(document.getElementsByName('{{item.name}}')[0].children[0].value), event)" style="margin-left: 50px;" data-product="{{item.name}}" data-action="add" class="btn btn-outline-secondary add-btn add-to-cart">Add to Cart</button>
                <h4 style="display: inline-block;float: right" id="{{item.name}}-price">${{item.price|floatformat:2}}</h4>
                <h4 style="display: inline-block;float: left" id="{{item.name}}-total">Total: $0 </h4>
            </div>
            {% endfor %}
        </ul>
      </div>
      <script>
          var submit = document.getElementById('quantity')
          submit.addEventListener('submit', function(e){
            var quantity = submit.elements['input'].value
            var price = parseFloat(this.dataset['price'])

            e.preventDefault()
            console.log(this)
            console.log(quantity * price)
            document.getElementById(this.name + '-total').innerHTML = 'Total: $' + (quantity * price)
          })
          

          function updateUserOrder(productId, action, quantity, e){
              console.log('User is logged in, sending data...')
              console.log(quantity)

              e.preventDefault()

              var url = '/update_item/'

                  fetch(url, {
                      method: 'POST', 
                      headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': csrftoken
                      },
                      body: JSON.stringify({'productId': productId, 'action': action, 'quantity': quantity})
                  })

                  .then((response) => {
                      return response.json()
                  })

                  .then((data) => {
                      console.log('data:', data)
                      location.reload()
                  })
          }
      </script>
{% endblock %}